/*------------------------------------*\
    #Navigation core
\*------------------------------------*/
@use "../10-settings" as *;
@use "../20-tools" as *;

nav ul,
nav ul * + * {
	margin: 0;
}

[data-nav="submenu"] {
	padding-inline-start: rem(20);
}

.global-nav {
	margin-block: rem(20);
}

.global-nav a {
	color: #fff;
	display: block;
	font-family: $font-heading;
	line-height: normal;
	padding: 0 rem(14);
	text-decoration: none;

	&:hover {
		color: $link-color--hover;
		outline-width: 0; /* 2 */
	}

	&:active {
		color: $off-black;
		outline-width: 0; /* 2 */
	}

	&:visited {
		color: #fff;
	}
}
